* 
{
	box-sizing: border-box;
}

@font-face { /* La police d'ecriture */
  font-family: 'f1-regular';
  src:url('../polices/Formula1-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body, html  /*petites choses essentielles*/ 
{
	font-family: 'f1-regular', sans-serif;
	height: 100%;
	width: 100%;
	background-color : #161616;
	margin: 0px;
	padding: 0px;
}





/* FENETRES DE CONNEXION/INSCRIPTION */

input[type=text], input[type=password]
{
 	width: 80%;
    padding: 15px;
 	margin: 5px 0 22px 0;
	display: inline-block;
 	border: none;
	background: #f1f1f1;
}

input[type=text]:focus,input[type=password]:focus
{
	background-color: #ddd;
	outline: none;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

button
{
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover
{
	opacity:1;
}

.retourbtn
{
	padding: 14px 20px;
	background-color: #f44336;
}

.retourbtn,.inscriptionbtn
{
	float: center;
	width: 40%;
}

.container
{
	margin : auto;
	padding: 16px;
}

.clearfix::after
{
	content: "";
	clear: both;
	display: table;
}

.modal
{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #161616;
	padding-top: 50px;
}

.modal-content
{
	background-color: black;
	margin: 5% auto 15% auto;
	width: 60%;
	color: white;
}

.footerForm .modal-content 
{
	background-color: black;
	margin: 400px auto auto auto;
	width: 60%;
	color: white;

}

.close
{
	color: #f1f1f1;
	font-size: 30px;
	position: absolute;
	top: 10%;
	right: 20%;

}


@media screen and (max-width: 300px)
{
	.retourbtn, .inscriptionbtn {
		width: 100%;
	}
}





.headerCards
{
	background-image: url("../images/equipes/ContactBg.jpg");

	height: 100%;

  	background-attachment: fixed;
  	background-position: center;
  	background-size: cover;
  	text-align: center;
}

.Maps
{
	background-color: white;

	height: 60%;

  	background-attachment: fixed;
  	background-position: center;
  	background-size: cover;
}

.footerForm
{
	background-color: #161616;

	height: 80%;

  	background-attachment: fixed;
  	background-position: center;
  	background-size: cover;
}

.headerCards .titre-Part
{
	width: 100%;
	position: absolute;
	top: 15%;
	left: 2%;
	text-align: center;
}

.Maps .titre-Part
{
	width: 100%;
	position: absolute;
	top: 105%;
	left: 2%;
	text-align: center;
}

.footerForm .titre-Part
{
	width: 100%;
	position: absolute;
	top: 175%;
	left: 2%;
	text-align: center;
}

.headerCards .titre-Part span
{
	padding : 15px;
	margin: auto;
	font-size: 60px;
	color: #fff;
	background-color: rgba(0,0,0, 0.4);
	border: 10px solid #f1f1f1;
}

.Maps .titre-Part span
{
	padding : 15px;
	margin: auto;
	font-size: 60px;
	color: #161616;
	background-color: rgba(0,0,0, 0.4);
	border: 10px solid #161616;
}

.footerForm .titre-Part span
{
	padding : 15px;
	margin: auto;
	font-size: 60px;
	color: #fff;
	background-color: rgba(0,0,0, 0.4);
	border: 10px solid #f1f1f1;
}





.card
{
	font-size: 20px;
	color: #fff;
	border: 4px solid #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	max-width: 400px;
  	margin: auto;
  	text-align: center;
}

#card1, #card2
{
	width: 45%;
	height: 50%;
	position: absolute;
	top: 30%;
	padding : 15px;
	margin: auto;
}

#card1
{
	left: 4%;
}

#card2
{
	left: 55%;
}


#map 
{
	position: absolute;
	top: 115%;
	left: 15%;
	width: 70%;
	height: 40%;

}


textarea
{
	width:90%;
	overflow: auto;
	margin-bottom: 50px;
	font-size: 24px;
	font-family: 'f1-regular',sans-serif;
	text-align: center;
}
