@font-face {
  font-family: 'f1-regular';
  src:url('../polices/Formula1-Regular.otf');
  font-weight: normal;
  font-style: normal;
}


html 
{
	height : 100%;
	width : 100%;
}

body 
{
	font-family: 'f1-regular',sans-serif;
	background-color: #161616;
	color: white;
	margin : 0px;
}

header 
{ 
	width: 100%;
	height: 150px;
}

h1
{
	font-size: 40px;
}

li
{
	margin-left: 100px;
}


/* Pour le formulaire d'ajout d'articles */
button
{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  height : 55px;
  opacity: 0.9;
}

button:hover
{
  opacity:1;
}

.modal
{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #161616;
  padding-top: 50px;
}

.modal-content
{
  background-color: black;
  margin: 5% auto 15% auto;
  width: 60%;
  color: white;
}

.retourbtn
{
  padding: 14px 20px;
  background-color: #f44336;
}

textarea
{
	width:90%;
	overflow: auto;
	margin-bottom: 50px;
	font-size: 24px;
	font-family: 'f1-regular',sans-serif;
	text-align: center;
}

input 
{
	width: 60%;
	margin-bottom: 50px;
	font-size: 30px;
	font-family: 'f1-regular',sans-serif;
	text-align: center;
	overflow: auto;
}