@font-face { /* La police d'ecriture */
  font-family: 'f1-regular';
  src:url('../polices/Formula1-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body, html  /*petites choses essentielles*/ 
{
	font-family: 'f1-regular', sans-serif;
	height: 170%;
	width: 100%;
	background-image: url("../images/equipes/BlogBg1.jpg");
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	margin: 0px;
	padding: 0px;
	color: white;
}

header
{
	position: absolute;
	width: 100%;
	top: 45%;
	left: 0;
	text-align: center;
}







/*POUR ACTUS */


span
{
	padding : 15px;
	margin: auto;
	font-size: 60px;
	color: #fff;
	background-color: rgba(0,0,0, 0.4);
	border: 10px solid #f1f1f1;
}



.tabPilote
{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 18%;
	background-color: rgba(0,0,0,0.7);
	border-collapse: collapse;
  	border-spacing: 0;
  	width: 60%;
  	border: 1px solid #ddd;
  	text-align: left;
}

.tab1
{
	position: absolute;
	top : 100%;
}

.tab2
{
	position: absolute;
	top : 180%;
}

.tabPilote caption
{
	font-size: 35px;
	text-decoration: underline;
	margin-bottom: 10px;
}


.tabPilote th, .tabPilote td 
{
  padding-bottom: 15px;
  padding-left: 30px;
}


th
{
	font-size: 20px;
	text-decoration: underline;
}
